<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Event</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'events/page_style.css' %}">
</head>
<body>
    <h1>Create Event</h1>
    <div class="location-list-highlight">
    <form method="post">
            {% csrf_token %}
            <p>{{ form.name.label_tag }} {{ form.name }}</p>
            <p>{{ form.category.label_tag }} {{ form.category }}</p>
            <p>{{ form.start_date.label_tag }} {{ form.start_date }}</p>
            <p>{{ form.end_date.label_tag }} {{ form.end_date }}</p>
            <p>{{ form.expense.label_tag }} {{ form.expense }}</p>
            <p>{{ form.location.label_tag }} {{ form.location }}</p>
            <p>
                {% if form.artists.field.queryset.exists %}
                    {{ form.artists.label_tag }} {{ form.artists }}
                {% else %}
                    <p> {{ form.artists.label_tag }} <em>No artists available yet.</em></p>
                {% endif %}
            </p>
            <p>{{ form.notes.label_tag }} {{ form.notes }}</p>
        <button type="submit" class="btn btn-custom">Create</button>
        <div class="spaced-top"></div>
    </form>
    </div>
    <a href="{% url 'event_list' %}" class="btn btn-custom spaced-top">Back to Front Page</a>
</body>
</html>